.container{
    color: white;
    display: flex;
    border: 1px solid black;
    flex-direction: column;
}

.red{
    background-color: red;
}

.orange{
    background-color: orange ;
}

.yellow{
    background-color: yellow;
}

.green{
    background-color: green;
}

.blue{
    background-color: blue;
}

.indigo{
    background-color: indigo;
}

.purple{
    background-color: purple;
}