.pricing-container{
    background-color: grey;
    display: inline-flex;
    margin: 3%;
    padding: 2%;
    border: 2px solid black;
}

.plan-title{
    font-weight: bold; 
    text-align: center;   
}

.plan-price{
    text-align: center;
}
